In [22]:
name = "Alice"

In [24]:
# Must start with a letter or underscore
age = 30
# Can contain underscores
half_age = age / 2 # 15
_m = 5 # Starting with an underscore is fine

In [28]:
# Cannot start with a number
5_number = 5

SyntaxError: invalid decimal literal (2339014387.py, line 2)

In [25]:
# Cannot be a python keyword
if_x = 5 # can contain keyword
if = 5 # cannot be a keyword

SyntaxError: invalid syntax (1231319364.py, line 3)

In [29]:
age = 5
half_age = age / 2
double_age = age * 2

In [ ]:
age = 30 # Integer
average_grade = 85.5 # Float
student_name = "Bob" # String
is_passing = True # Boolean

In [5]:
age = 30
print(age)

age = "thirty"
print(age)

30
thirty

In [6]:
name = "Alice"
print("Hello", name)

Hello Alice

In [7]:
# This is a single line comment
x = 5 # Assigning value 5 to variable x
# This is another single line comment. It can be as long as I want it to be

In [15]:
comment = """
This is a multi-line comment (docstring).
It can span multiple lines and is used for documentation.
It can be as long or short as necessary
"""
# Assigned to prevent Jupyter from printing it

In [16]:
# increment x by 1
x = x + 1

In [42]:
# This does stuff
total = 42 * 3

In [43]:
# Calculate the area of a square
length = 4
width = 6
area = length * width

In [44]:
# Calculate total price including tax for the shopping cart
price = 100
tax_rate = 0.04  # NY sales tax rate (4%)
total_price = price + (price * tax_rate)
print("Total price:", total_price)

Total price: 104.0